h1 {
    text-align: center;
    background-color: #e95757;
    color: white;
    padding: 40px;
}

ul {
    padding: 25px 15px;
    background-color: aliceblue;
}

.card-body {
    background-color: blue;
    color: white;
}